<%- include("partials/header") -%>

    <header>
        <h3>Current Weather For</h3>
        <h1>
            <%= Location %>
        </h1>
    </header>
    <main>
        <img src=<%=iconURL %>>
        <h2>
            <%= Description %>
        </h2>
        <p>Temperature: <%= Temperature %> ℃
        </p>
        <p>Feels Like: <%= FeelsLike %> ℃
        </p>
        <p>Max Temperature: <%= MaxTemperature %> ℃
        </p>
        <p>Min Temperature: <%= MinTemperature %> ℃
        </p>
        <p>Humidity: <%= Humidity %>
        </p>
        <p> Wind Speed: <%= wind %> mph</p>
    </main>

    <%- include("partials/footer") -%>