<%- include("partials/header") -%>

    <header>
        <h3 class="prompt">Current Weather For</h3>
        <h1 class="title">
            <%= Location %>
        </h1>
    </header>

    <main>


        <img src=<%=iconURL %> class="img-fluid rounded-start">
        <h5 class="">
            <%= Description %>

        </h5>
        <p class="">Temperature: <%= Temperature %> ℃
        </p>
        <p class="">Feels Like: <%= FeelsLike %> ℃
        </p>
        <p class="">Max Temperature: <%= MaxTemperature %> ℃
        </p>
        <p class="">Min Temperature: <%= MinTemperature %> ℃
        </p>

        <p class="">Humidity: <%= Humidity %>
        </p>
        <p class=""> Wind Speed: <%= wind %> mph</p>
        </div>
      
    </main>
   

    <%- include("partials/footer") -%>