<%- include("partials/header") -%>

    <div id="grid">
        <div id="currentDisplay">
            <img src="<%= iconURL %>" alt="<%= currentWeather[0].weather[0].description %> ">
            <h1 class="placeName">
                <%= city.name %>
            </h1>

        </div>
        <div id="restOfTodayDisplay"></div>
        <div id="restOfWeekDisplay">
            <div id="tomorrowDisplay"></div>
            <div id="day3Display"></div>
            <div id="day4Display"></div>
            <div id="day5Display"></div>
        </div>
    </div>

    <%- include("partials/footer") -%>